{% extends "base.html.twig" %}

{% block title %}Paiement{% endblock %}


            {% block pageTitle %}

            {% endblock %}

{% block bodyPage %}


<div class="container col-lg-8 col-lg-offset-3">
<h2>Paiement de votre commande</h2>
<div style="margin-top : 50px;">Montant de la commande :
<span id="totalTransactionText">{{ app.session.get('totalTransaction')}} euros</span></div>
<div class="container col-lg-12 paymentForm">
    <form method="post" id="payment-form" action={{ path('validPayment') }} >
        <div class="form-row">
            <label for="card-element">
                Vos coordonnées de carte bleue
            </label>
            <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors -->
            {% if paymentError is defined %}

                {% if paymentError == "cardError" %}

                    <div id="card-errors" role="alert">
                        Une erreur s'est produite lors de la transaction. Nous vous invitons à contacter
                        votre établissement bancaire et à renouveler l'opération avec une autre carte de paiement.
                    </div>

                {% else %}

                    <div id="card-errors" role="alert">
                        Une erreur s'est produite lors de la transaction.
                        Nous vous remercions de renouveler l'opération.
                    </div>

                {% endif %}
            {% endif %}
        </div>
        <button class="btn btnSave">Valider</button>
    </form>
</div>
    <div class="col-lg-12" style="margin-top : 50px; padding-left : 0;">
    <a style="margin:0;" href="{{ path("index") }}" class='btn btn btn-info btnHome'>Annuler la commande et revenir à
        l'accueil</a></div>

</div>

{% endblock %}

{%  block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/stripe.js') }}"></script>


{% endblock %}