{% extends "base.html.twig" %}


{% block title %}Bienvenue{% endblock %}



{% block bodyPage %}

    <div class="container col-lg-8">

        <div class="container col-lg-12 homeText">
            <span id="bienvenue">Bienvenue sur le nouveau site de réservation de billets pour le Musée du Louvre !</span>
            <br/><br/>Notre musée
            constitue un univers passionnant pour les petits comme pour les grands. Tout est mis en œuvre pour
            accompagner
            sur place, les familles dans leur découverte du musée. Bonne visite !
        </div>


        <div class="container col-lg-12 homeDiv">

            <h2 class="formHomeTitle">Votre visite</h2>

            {{ form_start(form, {'attr':{'class':'form-stacked'}}) }}

            <div class="required constraintMessage">
                {{ form_label(form.nbPersons)}}
                {{ form_widget(form.nbPersons, {'attr': {'required': true}}) }}
                {{ form_errors(form.nbPersons)}}
            </div>

            <br/>
            <div class="required constraintMessage">
                {{ form_label(form.visitDate) }}
                {{ form_widget(form.visitDate, {'attr': {'required': true}}) }}
                {{form_errors(form.visitDate) }}
            </div>
            <br/>

            {{ form_widget(form.persons, {'attr' : { 'style':'display:none'}}) }}
            {{ form_widget(form.email, {'attr' : { 'style':'display:none'}}) }}
            {{ form_widget(form.halfDay, {'attr' : { 'style':'display:none', 'required':false}}) }}
            {{ form_widget(form.transactionCode, {'attr' : { 'style':'display:none'}}) }}

            {{ form_row(form.save, { 'label':'Valider'}) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="col-lg-3  col-lg-offset-1 museumInfo">
        <h3>Tarifs </h3>
        <p>Plein : 16€ </p>
        <p>Plus de 60 ans : 12€ </p>
        <p>4 à 12 ans : 8€ </p>
        <p>Moins de 4 ans : gratuit </p>
        <p>Réduit : 10€ (étudiant, employé du musée, d'un service du Ministère de la culture, militaire...) </p>
        <h3>Jours de fermeture :</h3>
        <p>Chaque mardi et dimanche, jours fériés </p>
    </div>

{% endblock %}










