{% extends "base.html.twig" %}

{% block title %}{% endblock %}

        {% block pageTitle %}

        {% endblock %}



        {% block bodyPage %}

            <p>Date de la visite : <span class = "data">{{ transaction.visitDate|date('d/m/Y') }}</span></p>

            <p>Durée visite :
            {% if  transaction.halfDay == 0 %}
                <span class = "data">Journée entière</span>
            {% else %}
            <span class = "data">Demi-journée</span>
            {% endif %}</p>

            <p style="margin-bottom:50px;">Email : <span class="data">{{  transaction.email }}</span></p>


            <h3 style="margin-bottom:30px;">Visiteurs : </h3>

            {% for person in transaction.persons %}
                <p>Nom :  <span class = "data">{{ person.name }}</span></p>
                <p>Prénom : <span class = "data">{{ person.firstname }}</span></p>
                <p>Date de naissance : <span class = "data">{{ person.birth|date('d/m/Y') }}</span></p>
                <p>Pays : <span class = "data">{{ person.country }}</span></p>
                <p>Tarif billet :
                    {#{% set  age = ageCalculation(person.birth) %}#}
                    <span class = "data">{{ priceCalculation(
                            ageCalculation(person.birth),
                            person.reduction) }} euros</span></p>
                <p style="margin-bottom : 40px;">Carte réduction :
                {% if  person.reduction == 0 %}
                        <span class = "data">Non</span>
                {% else %}
                            <span class = "data">Oui</span>
                {% endif %}</p>

            {% endfor %}
            <div id = "totalTransaction">Montant de la commande :
                <span id="totalTransactionText">{{ totalTransaction }} euros</span></div>
            <br/><br/>
        {% endblock %}




