
<h2>Confirmation de votre commande</h2>


        {% block bodyPage %}

            <p style="margin-top : 30px; margin-bottom : 70px; font-size : 16px;">Nous vous remercions pour votre commande. Vous devez être muni d'une copie de ce mail lors de votre venue au musée.</p>

            <p style="margin-bottom : 30px;">N° de commande : <span style = "font-weight:bold; font-size:16px; color:#666;">{{ transaction.transactionCode }}</span></p>
            
            <p>Date de la visite : <span style = "font-size:16px; color:#886711;">{{ transaction.visitDate|date('d/m/Y') }}</span></p>

            <p>Durée visite :
                {% if  transaction.halfDay == 0 %}
                    <span style = "font-size:16px; color:#886711;">Journée entière</span>
                {% else %}
                    <span style = "font-size:16px; color:#886711;">Demi-journée</span>
                {% endif %}</p>

            <p style="margin-bottom:50px;">Email : <span style = "font-size:16px; color:#886711;">
                    {{  transaction.email }}</span></p>


            <h3 style="margin-bottom:30px;margin-top:30px;">Billets : </h3>

            {% for person in transaction.persons %}
                <p>Nom :  <span style = "font-size:16px; color:#886711;">{{ person.name }}</span></p>
                <p>Prénom : <span style = "font-size:16px; color:#886711;">{{ person.firstname }}</span></p>
                <p>Date de naissance : <span style = "font-size:16px; color:#886711;">{{ person.birth|date('d/m/Y') }}</span></p>
                <p>Pays : <span style = "font-size:16px; color:#886711;">{{ person.country }}</span></p>
                <p>Tarif billet : <span style = "font-size:16px; color:#886711;">{{ priceCalculation(
                            ageCalculation(person.birth),
                            person.reduction) }} euros</span></p>
                <div style="margin-bottom : 60px;"><p>Carte réduction :
                    {% if  person.reduction == 0 %}
                        <span style = "font-size:16px; color:#886711;">Non</span></p>
                    {% else %}
                        <span style = "font-size:16px; color:#886711;">Oui</span></p>

                        <div style="color:red;">
                            N'oubliez pas de vous munir de la carte attestant de du droit a un tarif réduit<br/>
                            (étudiant, employé du musée,
                            d'un service du Ministère de la culture, militaire...)
                            </div>

                    {% endif %}
                </div>
                {% endfor %}
                <div style = "border:1px solid #886711; padding:5px; max-width : 350px;">
                    Montant de la commande :
                    <span style="    font-size : 18px; font-weight : bold;">{{ totalTransaction }} euros</span></div>
                <br/><br/>


        {% endblock %}

